[submodule "components/wolfssl"]
	path = components/common/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/homekit"]
	path = components/common/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/esp32/idf/http-parser"]
	path = components/esp-idf/http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
[submodule "components/esp8266-idf/http-parser"]
	path = components/esp8266-rtos-sdk/http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
[submodule "components/esp8266-open-rtos/WS2812FX"]
	path = components/esp8266-open-rtos/WS2812FX
	url = https://github.com/pcsaito/WS2812FX-rtos
[submodule "components/esp8266-open-rtos/cJSON"]
	path = components/esp8266-open-rtos/cJSON
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/esp8266-open-rtos/led-status"]
	path = components/esp8266-open-rtos/led-status
	url = https://github.com/maximkulkin/esp-led-status.git
[submodule "components/esp8266-open-rtos/qrcode"]
	path = components/esp8266-open-rtos/qrcode
	url = https://github.com/maximkulkin/esp-qrcode.git
[submodule "components/esp8266-open-rtos/wifi_config"]
	path = components/esp8266-open-rtos/wifi_config
	url = https://github.com/maximkulkin/esp-wifi-config
[submodule "components/common/button"]
	path = components/common/button
	url = https://github.com/maximkulkin/esp-button
