[submodule "components/cJSON"]
	path = components/cJSON
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/http-parser"]
	path = components/http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
[submodule "components/wifi_config"]
	path = components/wifi_config
	url = https://github.com/maximkulkin/esp-wifi-config
